# قاعدة البيانات
db.sqlite3

# البيئة الافتراضية
venv/
ENV/
env/

# ملفات بايت كود بايثون
__pycache__/
*.pyc

# ملفات تسجيل/سجلات
*.log

# إعدادات IDE
.vscode/
.idea/

# ملفات النظام المؤقتة
.DS_Store
Thumbs.db
